# 节点配置片段包含一些节点配置信息；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/server-complete.snippet
 
 
 
;shadowsocks=example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, obfs-uri=/resource/file, fast-open=false, udp-relay=false, server_check_url=http://www.apple.com/generate_204, tag=ss-01

;废弃的节点
;vmess=162.159.19.60:80, method=chacha20-poly1305, password=539946f4-0f6d-480d-e5f3-01f203cd8a43, obfs=ws, obfs-host=k.tanizhugo.top, obfs-uri=/vmess, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[vmess+ws+cdn]
;vmess=149.28.13.249:50545, method=chacha20-poly1305, password=51dd5ffb-c8aa-4619-e593-68973f9ca5af, obfs=ws, obfs-host=k.tanizhugo.top, obfs-uri=/51dd5ffb, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[vmess+ws]
;trojan=149.28.13.249:24736, password=8bIC9FhLKi, over-tls=true, tls-host=k.tanizhugo.top, tls-verification=true, tls13=true, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[trojan]

vmess=104.25.213.125:443, method=chacha20-poly1305, password=ca35a654-ca9c-4801-d2c9-f6ebf534c7a6, obfs=wss, obfs-host=tkl.tanizhugo.top, obfs-uri=/newvmesscdn, tls13=true, fast-open=true, udp-relay=true, tag=美国[搬瓦工]vmess+ws+cdn
vmess=104.243.29.115:28810, method=chacha20-poly1305, password=6fde03c5-3736-4b02-b78f-55b003c3281a, obfs=ws, obfs-host=tkl.tanizhugo.top, obfs-uri=/6fde03c5, fast-open=true, udp-relay=true, tag=美国[搬瓦工]wmess+ws

trojan=104.243.29.115:25980, password=pI4r2j2VaQ, over-tls=true, tls-host=tkl.tanizhugo.top, tls-verification=true, tls13=true, fast-open=true, udp-relay=true, tag=美国[搬瓦工]trojan+tls
