# 节点配置片段包含一些节点配置信息；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/server-complete.snippet
 
 
 
;shadowsocks=example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, obfs-uri=/resource/file, fast-open=false, udp-relay=false, server_check_url=http://www.apple.com/generate_204, tag=ss-01

;废弃的节点
;vmess=162.159.19.60:80, method=chacha20-poly1305, password=539946f4-0f6d-480d-e5f3-01f203cd8a43, obfs=ws, obfs-host=k.tanizhugo.top, obfs-uri=/vmess, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[vmess+ws+cdn]
;vmess=149.28.13.249:50545, method=chacha20-poly1305, password=51dd5ffb-c8aa-4619-e593-68973f9ca5af, obfs=ws, obfs-host=k.tanizhugo.top, obfs-uri=/51dd5ffb, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[vmess+ws]
;trojan=149.28.13.249:24736, password=8bIC9FhLKi, over-tls=true, tls-host=k.tanizhugo.top, tls-verification=true, tls13=true, fast-open=false, udp-relay=false, tag=Seattle(西雅图)[trojan]

# 美国
vmess=104.17.53.252:443, method=chacha20-poly1305, password=03b2553c-e6d4-4413-e310-5124b805ce69, obfs=wss, obfs-host=tkl.tanizhugo.top, obfs-uri=/vmesscdn, tls13=true, fast-open=true, udp-relay=true, tag=美国[搬瓦工]vmess+ws+cdn(cf)
vmess=104.17.53.252:36901, method=chacha20-poly1305, password=1d966090-e852-44e5-ed99-838c51c204b1, obfs=ws, obfs-host=tkl.tanizhugo.top, obfs-uri=/e852, fast-open=true, udp-relay=true, tag=美国[搬瓦工]wmess+ws
;trojan=104.243.29.115:32118, password=HSs9EIgS5i, over-tls=true, tls-host=tkl.tanizhugo.top, tls-verification=true, tls13=true, fast-open=true, udp-relay=true, tag=美国[搬瓦工]trojan+tls

# 东京
vmess=18.183.140.63:58143,  method=chacha20-poly1305, password=cbfb0ac3-874c-40c2-aa33-db73f1a31147, obfs=ws, obfs-uri=/874c,  tls13=false, fast-open=true, udp-relay=true, tag=东京[亚马逊EC2]vmess+ws

# 新加坡
;vmess=54.169.144.86:55857, method=chacha20-poly1305, password=afeaf750-6bcb-4b61-8db1-3b757a89a1c6, obfs=ws, obfs-host=sp.tanizhugo.top, obfs-uri=/afeaf750, tls13=false, fast-open=true, udp-relay=true, tag=新加坡[亚马逊光帆]vmess+ws
;vmess=13.226.123.75:80, method=chacha20-poly1305, password=c74797ba-92f4-4844-c2eb-cfee9391ec79, obfs=ws, obfs-host=dsv1n4ek2w4ug.cloudfront.net, obfs-uri=/vmesscdnyamaxun, tls13=false, fast-open=true, udp-relay=true, tag=新加坡[亚马逊光帆]vmess+ws+cdn(亚马逊)


# Quantumult X不支持vless
